## First look at train.csv

In [60]:
# Magic
%matplotlib inline

# Libraries in use
import math
import pylab as pl
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import collections  as mc

In [3]:
# Read the data from the file
df = pd.read_csv("../data/train.csv")

In [4]:
# The data looks like this
df.head()

,TIMESTAMP,ID,y,F00,F01,F02,F03,F04,F05,F06,...,F34,F35,F36,F37,F38,F39,F40,F41,F42,F43
0,T0000,S0000,-0.004353,1,0,50,2.210819,-0.075260,0.618897,0,...,44.82035,0.035828,0,0.022465,78.98305,-0.097214,0.955017,0.648999,0.2955,0.868845
1,T0000,S0001,0.002971,0,1,89,3.047588,-0.006635,0.484964,0,...,52.39853,0.021581,0,0.006165,33.33333,-0.279424,0.355129,0.444151,0.3144,0.988490
2,T0000,S0002,0.002614,0,0,85,2.145732,-0.007309,0.516876,0,...,82.43592,0.109090,0,0.005787,44.95496,0.079846,NaN,0.093355,0.3266,1.233096
3,T0000,S0003,-0.000188,0,0,90,1.573162,-0.166067,0.446393,0,...,-33.64397,0.209749,0,0.012024,73.79487,0.430850,2.596279,-0.570243,-0.1386,0.657340
4,T0000,S0004,-0.014813,0,0,78,2.738358,0.009562,0.526339,0,...,-144.09200,0.186767,1,0.005475,64.69136,0.107902,33.438054,0.530521,0.2053,0.709597

### Some general information about the dataset

In [20]:
# Number of securities in use
"Number of securities in use is {}".format(len(set(df['ID']))) # So universe consists of 1315 assets

'Number of securities in use is 1315'

In [19]:
# Number of days
"Number of days in train dataset {}".format(len(set(df['TIMESTAMP']))) # the first day is T0000, the last one is T1121

'Number of days in train dataset 1122'

In [25]:
# Dataframe shape
row_num, column_num = df.shape

# Notice that the (number of days * numer of securities) is not equal to number of rows
row_num < 1315*1122 # This means that some of the securities are missing in the dataset

True

### Go more into details

In [128]:
# General description
df_desc = df.describe(include = 'all')
df_desc

,TIMESTAMP,ID,y,F00,F01,F02,F03,F04,F05,F06,...,F34,F35,F36,F37,F38,F39,F40,F41,F42,F43
count,1120078,1120078,1120078.000000,1119190.000000,1119190.000000,1099927.000000,1087108.000000,1119289.000000,1111943.000000,1119190.000000,...,1063940.000000,1106588.000000,1119190.000000,1110815.000000,1111954.000000,1119289.000000,1064340.000000,1120078.000000,1110920.000000,1086557.000000
unique,1122,1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,T0998,S0718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1041,1122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,0.000014,0.074474,0.048159,56.180675,6.260496,0.000357,1.007768,0.162242,...,-415.487862,-0.009782,0.014377,0.010179,52.659774,0.043205,1.648553,-0.000634,0.240076,0.990690
std,NaN,NaN,0.014011,0.262541,0.214102,26.107118,86.106717,0.090558,0.468799,0.368673,...,9045.682890,4.496607,0.119041,0.008900,17.471909,0.751295,2.175945,0.577495,0.512933,0.245694
min,NaN,NaN,-0.811452,0.000000,0.000000,1.000000,1.000000,-0.500709,0.090642,0.000000,...,-327277.400000,-367.032300,0.000000,0.000171,0.000000,-4.488682,0.006826,-4.221995,-4.996700,0.279032
25%,NaN,NaN,-0.005681,0.000000,0.000000,36.000000,1.882747,-0.042261,0.739015,0.000000,...,6.200001,0.034250,0.000000,0.005461,40.285710,-0.367230,0.509401,-0.260746,0.305200,0.832500
50%,NaN,NaN,-0.000192,0.000000,0.000000,58.000000,2.549200,-0.004557,0.913600,0.000000,...,45.949600,0.079400,0.000000,0.007900,52.787180,0.043972,0.999215,-0.000032,0.324300,0.951416
75%,NaN,NaN,0.005395,0.000000,0.000000,79.000000,3.895441,0.035881,1.151100,0.000000,...,94.162400,0.137509,0.000000,0.012000,65.193950,0.456753,1.961204,0.259368,0.340600,1.101749
max,NaN,NaN,0.914936,1.000000,1.000000,100.000000,6221.764000,1.370027,20.243000,1.000000,...,10990.010000,5.395600,1.000000,0.276074,100.000000,4.531487,115.936280,4.281874,0.792700,5.222479

In [125]:
factor_columns = [x for x in df.columns if ((x != 'TIMESTAMP') and (x != 'ID') and (x != 'y'))]

In [134]:
# Binary factors
bin_factors = []
for col in factor_columns:
    if ((df_desc[col]['min'] == 0.) and 
        (df_desc[col]['25%'] == 0.) and 
        (df_desc[col]['50%'] == 0.) and 
        (df_desc[col]['75%'] == 0.) and 
        (df_desc[col]['max'] == 1.)):
        bin_factors.append(col)
print "There are {} binary factors and they are:".format(len(bin_factors))

for factor in bin_factors:
    print factor

There are 10 binary factors and they are:
F00
F01
F06
F09
F10
F24
F26
F28
F32
F36

In [137]:
# We can see that each day there are different amount of information about stocks
df.groupby("TIMESTAMP").apply(lambda df: df.shape[0])

TIMESTAMP
T0000     973
T0001     974
T0002     974
T0003     974
T0004     973
T0005     973
T0006     972
T0007     971
T0008     971
T0009     971
T0010     971
T0011     972
T0012     972
T0013     972
T0014     972
T0015     972
T0016     971
T0017     971
T0018     971
T0019     971
T0020     971
T0021     972
T0022     972
T0023     971
T0024     971
T0025     971
T0026     971
T0027     971
T0028     970
T0029     970
         ...
T1092    1033
T1093    1033
T1094    1033
T1095    1032
T1096    1032
T1097    1031
T1098    1031
T1099    1031
T1100    1032
T1101    1032
T1102    1032
T1103    1032
T1104    1032
T1105    1032
T1106    1032
T1107    1031
T1108    1031
T1109    1031
T1110    1031
T1111    1031
T1112    1031
T1113    1031
T1114    1030
T1115    1030
T1116    1030
T1117    1026
T1118    1026
T1119    1026
T1120    1026
T1121    1030
dtype: int64